    @import url(http://fonts.googleapis.com/css?family=Wellfleet);
    body {
        background-color: #205243;
        color: #fff;
        font-family: 'Wellfleet', serif;
        font-size: 150%;
        margin: 0px 0px 0px 0px;
    }

    h1 {
        text-align: center;
        background-repeat: no-repeat;
        white-space: nowrap;
        height: 50px;
        width: 643px;
        margin: 20px auto;
    }

    #start {
        text-align: center;
        color: rgb(0, 216, 115);
        height: 50px;
        width: 300 px;
        margin-left: 46%;
        font-size: 120%;
        font-family: 'Wellfleet', serif;
    }

    #level {
        text-align: left;
        font-size: 40px;
        height: 20px;
        width: 300 px;
        margin: 10px auto;
        margin-bottom: 40px;
        padding-left: 2%;
    }
    #levels{
        height: 40px;
        width: 200px;
        font-size: 30px;
    }

    #easy {
        height: 25px;
        width: 50px;
        margin: 10px auto;
        padding: 5px;
        font-family: 'Wellfleet', serif;
        color: green;
    }

    #medium {
        height: 25px;
        width: 64px;
        margin: 10px auto;
        padding: 5px;
        font-family: 'Wellfleet', times, serif; 
        color: orange;
    }

    #hard {
        height: 25px;
        width: 50px;
        margin: 10px auto;
        padding: 5px;
        font-family: 'Wellfleet', times, serif;
        color: red;
    }

    #player1info{
        text-align: left;
        width: 33%;
        margin-left: 25px;
    }

    #player2info{
        text-align: left;
        width: 33%;
        margin-left: 25px;
    }

    #score {
        text-align: left;
        height: 60px;
        width: 300 px;
        margin: 10px auto;
        font-size: 20px;
        padding-left: 2%;
        padding-bottom: 10px;
    }

    #turn {
        text-align: left;
        height: 30px;
        width: 300 px;
        padding-top: 50px;
        padding-left: 3%;
    }

    #game {
        height: 550px;
        width: 50% px;
        margin: 20px auto;
        box-sizing: border-box;
    }
      
      .column {
        float: left;
        padding: 0 10px;
        width: 25%;
        box-sizing: border-box;
      }

      .row{
          margin: 10px 0px 0px 250px;
          box-sizing: border-box;
      }
      

      .card {
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */
        padding: 8px;
        text-align: center;
        height: 90px;
        width: 50%;
        margin-top: 20px;
        background-color: #fff;
        color: #005a44;
        box-sizing: border-box;
      }

      #restart {
        text-align: center;
        color: rgb(0, 216, 115);
        height: 50px;
        width: 300 px;
        margin-left: 48%;
        font-size: 120%;
        font-family: 'Wellfleet', serif;
        margin-bottom: 40px;
    }

    #celebration{
        height: 400px;
        width: 60% px;
        margin-left: 43%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    #sad{
        margin-left: 42%;
        height: 60%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }